*{
    margin: 0;
    padding: 0;
}

#container{
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1, button {
  margin-bottom: 20px; 
}

button{
  height: 60px;
  width: 150px;
  background-color: rgb(14, 14, 189);
  color: #fff;
  font-weight: bold;
  border: 1px solid rgb(6, 6, 133);
}

button:hover{
  background-color: rgb(0, 0, 105);
}